[Unit]
Description=Microsoft Azure GuestProxyAgent
After=local-fs.target
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=simple
ExecStart=/usr/sbin/azure-proxy-agent
Restart=always
RestartSec=5

ProtectSystem=strict
LogsDirectory=azure-proxy-agent
StateDirectory=azure-proxy-agent
RestrictNamespaces=~user
RestrictNamespaces=~pid
RestrictNamespaces=~net
RestrictNamespaces=~uts
RestrictNamespaces=~mnt
CapabilityBoundingSet=~CAP_LEASE
CapabilityBoundingSet=~CAP_MKNOD
RestrictNamespaces=~cgroup
RestrictSUIDSGID=yes
RestrictNamespaces=~ipc
ProtectHostname=yes
CapabilityBoundingSet=~CAP_CHOWN CAP_FSETID SETFCAP
CapabilityBoundingSet=~CAP_SETUID CAP_SETGID CAP_SETPCAP
ProtectHome=tmpfs
ProtectClock=yes

NoNewPrivileges=yes
DevicePolicy=closed
DeviceAllow=/dev/console w
IPAddressAllow=127.0.0.1 168.63.129.16 169.254.169.254
IPAddressDeny=any

CapabilityBoundingSet=~CAP_SYS_MODULE
CapabilityBoundingSet=~CAP_SYS_TTY_CONFIG
CapabilityBoundingSet=~CAP_SYS_BOOT
CapabilityBoundingSet=~CAP_SYS_CHROOT

SystemCallFilter=~@clock
SystemCallFilter=~@cpu-emulation
SystemCallFilter=~@module
SystemCallFilter=~@mount
SystemCallFilter=~@obsolete
SystemCallFilter=~@raw-io
SystemCallFilter=~@reboot
SystemCallFilter=~@resources
SystemCallFilter=~@swap

[Install]
WantedBy=multi-user.target
