Source: azure-proxy-agent
Maintainer: AzureRT ProxyAgent V Team <ARTProxyAgentVTeam@microsoft.com>
Uploaders: Zhidong Peng <zpeng@microsoft.com>
Homepage: https://github.com/Azure/GuestProxyAgent
Section: admin
Priority: optional
Standards-Version: 4.6.2
Build-Depends:
 debhelper-compat (= 12),
 clang,
 libbpf-dev,
 libbpfcc-dev,
 llvm,
 musl-tools,
 libstd-rust-dev <!upstream-cargo>,
 librust-aya-0.13+default-dev (>= 0.13.1-~~) <!upstream-cargo>,
 librust-bitflags-2+default-dev (>= 2.6.0-~~) <!upstream-cargo>,
 librust-clap-4+default-dev (>= 4.5.17-~~) <!upstream-cargo>,
 librust-clap-4+derive-dev (>= 4.5.17-~~) <!upstream-cargo>,
 librust-ctor-0.3+default-dev (>= 0.3.6-~~) <!upstream-cargo>,
 librust-hex-0.4+default-dev (>= 0.4.3-~~) <!upstream-cargo>,
 librust-hmac-sha256-1+default-dev (>= 1.1.6-~~) <!upstream-cargo>,
 librust-http-1+default-dev (>= 1.1.0-~~) <!upstream-cargo>,
 librust-http-body-util-0.1+default-dev <!upstream-cargo>,
 librust-hyper-1+client-dev <!upstream-cargo>,
 librust-hyper-1+default-dev <!upstream-cargo>,
 librust-hyper-1+http1-dev <!upstream-cargo>,
 librust-hyper-1+server-dev <!upstream-cargo>,
 librust-hyper-util-0.1+default-dev <!upstream-cargo>,
 librust-hyper-util-0.1+tokio-dev <!upstream-cargo>,
 librust-itertools-0.10+default-dev (>= 0.10.5-~~) <!upstream-cargo>,
 librust-libc-0.2+default-dev (>= 0.2.147-~~) <!upstream-cargo>,
 librust-nix-0.29+default-dev <!upstream-cargo>,
 librust-nix-0.29+fs-dev <!upstream-cargo>,
 librust-nix-0.29+net-dev <!upstream-cargo>,
 librust-nix-0.29+user-dev <!upstream-cargo>,
 librust-once-cell-1+default-dev (>= 1.17.0-~~) <!upstream-cargo>,
 librust-proxy-agent-shared+default-dev <!upstream-cargo>,
 librust-regex-1+default-dev (>= 1.11-~~) <!upstream-cargo>,
 librust-serde-1+default-dev (>= 1.0.152-~~) <!upstream-cargo>,
 librust-serde-derive-1+default-dev (>= 1.0.152-~~) <!upstream-cargo>,
 librust-serde-json-1+default-dev (>= 1.0.91-~~) <!upstream-cargo>,
 librust-serde-xml-rs-0.8+default-dev (>= 0.8.1-~~) <!upstream-cargo>,
 librust-sysinfo-0.30+default-dev (>= 0.30.13-~~) <!upstream-cargo>,
 librust-thiserror-1+default-dev (>= 1.0.64-~~) <!upstream-cargo>,
 librust-tokio-1+default-dev <!upstream-cargo>,
 librust-tokio-1+macros-dev <!upstream-cargo>,
 librust-tokio-1+net-dev <!upstream-cargo>,
 librust-tokio-1+rt-dev <!upstream-cargo>,
 librust-tokio-1+rt-multi-thread-dev <!upstream-cargo>,
 librust-tokio-1+sync-dev <!upstream-cargo>,
 librust-tokio-1+time-dev <!upstream-cargo>,
 librust-tokio-util-0.7+default-dev (>= 0.7.11-~~) <!upstream-cargo>,
 librust-tower-0.5+default-dev (>= 0.5.2-~~) <!upstream-cargo>,
 librust-tower-0.5+full-dev (>= 0.5.2-~~) <!upstream-cargo>,
 librust-tower-http-0.6+default-dev (>= 0.6.2-~~) <!upstream-cargo>,
 librust-tower-http-0.6+limit-dev (>= 0.6.2-~~) <!upstream-cargo>,
 librust-uuid-1+default-dev (>= 1.3.0-~~) <!upstream-cargo>,
 librust-uuid-1+fast-rng-dev (>= 1.3.0-~~) <!upstream-cargo>,
 librust-uuid-1+macro-diagnostics-dev (>= 1.3.0-~~) <!upstream-cargo>,
 librust-uuid-1+v4-dev (>= 1.3.0-~~) <!upstream-cargo>,
 librust-uzers-0.12+default-dev (>= 0.12.1-~~)
 rustc

Package: azure-guest-proxy-agent
Architecture: amd64 arm64
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: btrfs-progs, xfsprogs, grub2, udev, e2fsprogs, systemd
Description: Access control for Micosoft Azure link-local network services
 The Azure guest proxy agent introduces features to control access to
 potentially sensitive link-local HTTP endpoints within the Microsoft Azure
 cloud environment.  (WireServer IP Endpoint [168.63.129.16] and Instance
 Metadata Service IP Endpoint [169.254.169.254]).  It introduces a new
 component (GuestProxyAgent) which leverages eBPF to intercept the http
 query, and control the access at two levels:
 .
  * Default root only authorization for the WireServer endpoints
    168.63.129.16
  * Policy-based authorization where only approved communication is
    allowed via the GuestProxyAgent based on user ID, process name, etc